body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contentPanel .box{
  width:1000px;
  height:1000px;
  margin:50px;
  display:table;
}

.contentPanel .box .box-row{
  display:table-row;
}

.contentPanel .box .box-cell{
  display:table-cell;
  width: 50%;
  padding:10px;
}

.contentPanel .box .box-cell.boxA{
  background:#FFFFFF
}
.contentPanel .box .box-cell.boxB{
  background:#EEEEEE
}

